*.class
*.jar
/Pertemuan10/Modul/GUIProject1/nbproject/private/
/Pertemuan10/Modul/GUIProject1/build/
/Pertemuan10/Modul/GUIProject2/nbproject/private/
/Pertemuan10/Modul/GUIProject2/build/
/Pertemuan10/Modul/GUIProject3/nbproject/private/
/Pertemuan10/Modul/GUIProject3/build/
/Pertemuan10/Modul/GUIProject4/nbproject/private/
/Pertemuan10/Modul/GUIProject4/build/
/Pertemuan10/Modul/Hangman/nbproject/private/
/Pertemuan10/Modul/Hangman/build/
/Pertemuan10/Modul/jdbc_mhs_service/nbproject/private/
/Pertemuan12/Modul/jdbc_mhs_service/nbproject/private/
/Pertemuan12/Modul/jdbc_mhs_service/build/
/Pertemuan12/Modul/jdbc_mhs_service/dist/
